* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

html,
body {
  background: #000;
  height: 100%;
  width: 100%;
  color: #fff;
}
h1{
  margin: 10px;
}
button{
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: #3f283f;
  padding: 9px 7px;
  font-size: 1rem;
  color: #fff;
  margin: 10px;
}